@charset "utf-8";
@import "reset.css";

/* tooltip.css - 툴팁 디자인 스타일, 2012 © yamoo9.com
---------------------------------------------------------------- */

/* ///////////////////////////////////////// 
	=기본 스타일
///////////////////////////////////////// */	

body {
	padding: 150px;
	background-color: whitesmoke;
}

h1 {
	margin-bottom: 40px;
	font-family: 'Lato', sans-serif;
	color: cadetblue;
}

/* ///////////////////////////////////////// 
	=.gallery-nav
///////////////////////////////////////// */	

.gallery-nav li {/*a 내부의 li요소를 선택 오른쪽 외부 여백을 100px*/
	float: left;
	margin-right: 100px;
}

/* ///////////////////////////////////////// 
	=.tooltip
///////////////////////////////////////// */	

a.tooltip {
	position: relative;
	display: block;/*a 요소의 화면 표시 상태를 블록 요소로 변경*/
	width: 150px;/*a 배너 사이즈의 가로*/
	height: 150px;/*a 배너 사이즈의 세로*/
	border: 5px solid cornflowerblue;/*배너의 테두리를 두께5px 직선, 어두운 회색으로 설정*/
	background: #fff no-repeat center;/*배경 이미지를 반복 하지 않도록 설정하고 가운데 배치*/
	background-size: cover;/*a 원형 폭을 세로폭에 맞게 배경 이미지를 채움*/
	/* CSS3 Border-radius */
	-webkit-border-radius: 55px;/*a 둥근 테두리 설정*/
	-khtml-border-radius: 55px;/**/
	-moz-border-radius: 55px;/**/
	border-radius: 55px;/**/
	/* CSS3 Transition */	
	-webkit-transition: all .4s ease-in .3s;
	-moz-transition: all .4s ease-in .3s;
	-o-transition: all .4s ease-in .3s;
	-ms-transition: all .4s ease-in .3s;
	transition: all .4s ease-in .3s;
}
a.tooltip:hover,/*마우스를 블록에 올렸을시*/
a.tooltip:focus {
		border-color: #fff;
	}
	a.tooltip .tooltip-box {
		opacity: 0;/*불투명도 0*/
		position: absolute;
		left: 50%;
		bottom: 100px;
		width: 20em;/*a 가로폭을 글자 크기의 20배 설정*/
		margin-left: -10.4em;
		padding: .8em;/*내부 공간을 글자 크기의 0.8배로 설정*/
		background: darkslategray;
		/* CSS3 Border-radius */
		-webkit-border-radius: 15px 0px;
		-khtml-border-radius: 15px 0px;
		-moz-border-radius: 15px 0px;
		border-radius: 15px 0px;
		/* CSS3 Transition */
		-webkit-transition: all .4s ease-in .3s;
		-moz-transition: all .4s ease-in .3s;
		-o-transition: all .4s ease-in .3s;
		-ms-transition: all .4s ease-in .3s;
		transition: all .4s ease-in .3s;
	}
	a.tooltip:hover .tooltip-box, 
	a.tooltip:focus .tooltip-box {
		opacity: 1;
		bottom: 90px;
	}
	a.tooltip .tooltip-box:before {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 120px;
		border-top: 10px solid #111;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		}
		a.tooltip .tooltip-title {
			color: powderblue;/*말풍선 제목 색*/
		}
		a.tooltip .tooltip-desc {
			margin-bottom: 0;/*아래쪽 외부 여백 제거*/
			font-size: 11px;/*글자 크기*/
			text-align: justify;/*단란을 양쪽 정렬*/
			color: #bcbcbc;/*글색*/
		}

/* 사진 */
a.tooltip.photo1 {
	background-image: url(../../public/img/m_img/question.jpg);
}
a.tooltip.photo2 {
	background-image: url(../../public/img/m_img/hungry.jpg);
	margin-left: 300px;
	margin-bottom: 200px;

}
a.tooltip.photo3 {
	background-image: url(../../public/img/m_img/gorogoro.jpg);
}
a.tooltip.photo4 {
	background-image: url(../../public/img/m_img/huben.jpg);
	margin-left: 300px;
	margin-bottom: 200px;
}

/* ///////////////////////////////////////// 
	=Global Classes
///////////////////////////////////////// */

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	}
	.ie6 .clearfix { height: 1px; } /* IE6 */ 
	.ie7 .clearfix { min-height: 1px; } /* IE7 */